@import url(/css/styleCategories.css);
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

.columna{
    font-family: 'Happy Monkey';
}
.navbar {
    background-color: #8BD9AD;
    font-family: 'Happy Monkey';
}

.navbar-toggler-icon{
    color: black;
    }
    
    .nav-link{
        color: black;
        font-weight: 700;
    }
    
    .nav-item a {
        font-size: 3vh;
        margin: 0 02vw 0 2vw;
    }
    
    .nav-item a:hover {
        color: #F2F1DC;
    }
    
    
    footer {
        background-color: #8BD9AD;
        height: 6vh;
    }
    
    #search{
        display: flex;
        justify-content: center;
        margin-top: 4vh;
    }
    
    .search-bar{
        width: 65vw;
        height: 5vh;
        border-radius: 3vh;
        background-color: #DDFFFD;
        border: solid #7A7A7A 0.1vh;
        text-align: center;
        margin: 0 1vw 4vh 0;
    }
    .imagen {
        width: 50vh;
    }
    .detailedProduct{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 7vw 5vh 7vw;
    }

.card-body {
    max-width: 60vw;
}

.btn{
    border: none;
    border-radius: 7px;
    background-color: #F29E38;
    color: #F2F1DC;
    padding: 2vh;
    font-size: 3vh;
    font-family: Helvetica, sans-serif;

   }
   .btn:hover{
    padding: 3vh;
    font-size: 3.5vh;
    background-color: white;
    color:#F29E38; 
    border: 2px solid #F29E38;

   }

   @media (max-width: 650px) {
    .detailedProduct{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 7vw 5vh 7vw;
    }

}