/*Estilo del contenido de la página principal */

a:hover {
    color: #F2F1DC;
}

.carousel-item {
    max-height: 65vh;
    background-size: contain;
}

.slogan{
    font-family: 'Happy Monkey';
    text-align: center;
    color:#623918;
    margin: 8vh 0 8vh 0;
    

}

.slogan h2 {
    font-weight: bold;
    font-size: 5vh;

}
.description{
    margin: 0 5vw 0 5vw;
    background-color: #F2F1DC;
    padding: 7vh 12vw 7vh 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description img {
    margin-bottom: 4vh;
    width: 13vw;
    height: auto;
}

.description p {
    text-align: justify;
    color:#623918;
    font-size: 3vh;
}

.shop-button{
    display: flex;
    justify-content: center;
    margin: 8vh 0 8vh 0;
}

#go-shop a {
    text-decoration: none;
    color: #F2F1DC;
}

.shop-button button {
    border: none;
    border-radius: 7px;
    background-color: #F29E38;
    color: #F2F1DC;
    padding: 2vh;
    font-size: 3vh;
    font-family: Helvetica, sans-serif;
}

.shop-button button:hover {
    padding: 3vh;
    font-size: 3.5vh;
}

footer {
    background-color: #8BD9AD;
    height: 6vh;
}

/*Fin de página principal*/