/*Inicio de página principal */
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

.navbar {
    background-color: #8BD9AD;
    font-family: 'Happy Monkey';

}

.navbar-toggler-icon{
color: black;
}

.collapse{
    display: flex;
    justify-content: center;
}

.nav-link{
    color: black;
    font-weight: 700;
}

.nav-item a {
    font-size: 3vh;
    margin: 0 02vw 0 2vw;
}

.nav-item  a:hover {
    color: #F2F1DC;
}

.carousel-item {
    max-height: 65vh;
    background-size: contain;
}

.slogan{
    font-family: 'Happy Monkey';
    text-align: center;
    color:#623918;
    margin: 8vh 0 8vh 0;
}
.shop-icon{
    width: 20%;
    padding-bottom: 2%;
}
.description{
    margin: 0 5vw 0 5vw;
    background-color: #F2F1DC;
    padding: 7vh 12vw 7vh 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .description img {
    margin-bottom: 4vh;
    width: 10vw;
    height: auto;
} */

.description p {
    text-align: justify;
    color:#623918;
}

.shop-button{
    display: flex;
    justify-content: center;
    margin: 8vh 0 8vh 0;
}
#go-shop {
    border-radius: 7px;
    border: none;
    background-color: #F19E38;
    padding: 2vh;
    font-size: 3vh;
    font-family: Helvetica, sans-serif;
}
#go-shop a {
    text-decoration: none;
    color: #F2F1DC;
}
#go-shop:hover{
    border: #F19E38 2px solid;
    background-color: white;
}
#go-shop a:hover{
    color: #F19E38;
}



footer {
    background-color: #8BD9AD;
    height: 6vh;
}

/*Fin de página principal*/

/*Versión movil*/

@media (max-width: 450px) {
    .shop-icon{
        width: 70%;
        padding-bottom: 10%;
    }    
}